@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
body{
    font-family: 'Ubuntu', sans-serif;
}

.titre1{
    font-size: 200%;
}
.naviGris{
    color: gray;
    font-size: larger;
}
.gris {
    background-color: #ffffcc;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.titreHaut{
    font-size: 500%;
    text-align: right;
}
.right{
    text-align: right;
}
#equipe{
    font-size: xx-large;
    font-family: sans-serif;
}
.gras{
    font-weight: bolder; 
    font-size: xx-large;
}
div.bouton_red{
    background-color: #dc3545;
    text-align: center;
    font-size: large;
    color:wheat;
    padding: 10px;
    border-radius: 10px;
}
div.bouton_green{
    background-color: #34ce57;
    text-align: center;
    font-size: large;
    color:wheat;
    padding: 10px;
    border-radius: 10px;
}
div.bouton_gris{
    background-color: #b9bbbe;
    text-align: center;
    font-size: large;
    color:wheat;
    padding: 10px;
    border-radius: 10px;
}
.temoignage{
    font-size: xx-large; 
    font-family: 'Shadows Into Light', cursive;
}
.Backblue{
    background-color: #007bff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.BackGreen{
    background-color: #b1dfbb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
li.gros{
    font-size: 150%;
}
.listBack{
    border-style: solid;
    border-color: #007bff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 2px;
}
.tableBack{
    border-style: solid;
    border-color: #b1dfbb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 2px;
}